.container{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 519px;
  border: 2px solid;
  border-radius: 114px;
  width:50%;
  background-color: aqua;
}

.element{

  display:flex;
  flex-direction: column;
}

.search{
border: 2px solid;
  border-radius: 20px;
  width:338px;
  height:41px;
  
}

.bigcontainer{
  display: flex;
  justify-content: center;
  align-items: center;

}

.minmax{
display:flex;

}